## Pandas Exercise
### Task: Use pandas to process and query the wireshark file you send in Chapter 6
#### 1) Load the Wireshark file that you used in Chapter 6 into a pandas DataFrame

In [1]:
import numpy as np 
import pandas as pd

# Load data from Wireshark
df = pd.read_csv("ws.csv")
df.index = df.index + 1
df.head()

,,Time,Source,Destination,Protocol,Length,Info
1,1,0.000000,10.97.172.240,52.21.103.149,TCP,78,54831 > 443 [SYN] Seq=0 Win=65535 Len=0 MSS=...
2,2,0.082079,52.21.103.149,10.97.172.240,TCP,66,"443 > 54831 [SYN, ACK] Seq=0 Ack=1 Win=26883..."
3,3,0.082252,10.97.172.240,52.21.103.149,TCP,54,54831 > 443 [ACK] Seq=1 Ack=1 Win=262144 Len=0
4,4,0.083455,10.97.172.240,52.21.103.149,TLSv1.2,309,Client Hello
5,5,0.164650,52.21.103.149,10.97.172.240,TCP,54,443 > 54831 [ACK] Seq=1 Ack=256 Win=28160 Len=0

In [2]:
# Print the keys from the dictionaries
print(df.keys())

Index([' ', 'Time', 'Source', 'Destination', 'Protocol', 'Length', 'Info'], dtype='object')

#### 2) How many packets (rows) are there in the DataFrame

In [3]:
# Print the number of packet
num_packet = df.shape[0]
print('Number of packets: ' + str(num_packet))

Number of packets: 30922

#### 3) How many fields (columns) are there in the DataFrame ?

In [4]:
# Print the field (dictionary keys) in the DataFrame
print(df.keys())
num_field = df.shape[1]
print(num_field)

Index([' ', 'Time', 'Source', 'Destination', 'Protocol', 'Length', 'Info'], dtype='object')
7

#### 4) Remove the last column

In [5]:
# Remove the last column from DataFrame
df.drop('Info', axis=1, inplace=True)
df

                   Time         Source    Destination Protocol  Length
1          1   0.000000  10.97.172.240  52.21.103.149      TCP      78
2          2   0.082079  52.21.103.149  10.97.172.240      TCP      66
3          3   0.082252  10.97.172.240  52.21.103.149      TCP      54
4          4   0.083455  10.97.172.240  52.21.103.149  TLSv1.2     309
5          5   0.164650  52.21.103.149  10.97.172.240      TCP      54
...      ...        ...            ...            ...      ...     ...
30918  30918  27.624493  10.97.172.240   157.240.1.18      TCP      54
30919  30919  27.632048  10.97.172.240   157.240.1.18  TLSv1.2     500
30920  30920  27.635130   157.240.1.18  10.97.172.240      TCP      54
30921  30921  27.635137   157.240.1.18  10.97.172.240  TLSv1.2      96
30922  30922  27.635210  10.97.172.240   157.240.1.18      TCP      54

[30922 rows x 6 columns]

#### 5) Insert a row/column

In [6]:
new_row = df.loc[num_packet]
df.loc[num_packet+1,:] = new_row
new_col = df.loc[:, 'Time']*df.loc[:, 'Length']
name_col = 'Test'
df.insert(df.shape[1], name_col, new_col)
df

,,Time,Source,Destination,Protocol,Length,Test
1,1.0,0.000000,10.97.172.240,52.21.103.149,TCP,78.0,0.000000
2,2.0,0.082079,52.21.103.149,10.97.172.240,TCP,66.0,5.417214
3,3.0,0.082252,10.97.172.240,52.21.103.149,TCP,54.0,4.441608
4,4.0,0.083455,10.97.172.240,52.21.103.149,TLSv1.2,309.0,25.787595
5,5.0,0.164650,52.21.103.149,10.97.172.240,TCP,54.0,8.891100
...,...,...,...,...,...,...,...
30919,30919.0,27.632048,10.97.172.240,157.240.1.18,TLSv1.2,500.0,13816.024000
30920,30920.0,27.635130,157.240.1.18,10.97.172.240,TCP,54.0,1492.297020
30921,30921.0,27.635137,157.240.1.18,10.97.172.240,TLSv1.2,96.0,2652.973152
30922,30922.0,27.635210,10.97.172.240,157.240.1.18,TCP,54.0,1492.301340
30923,30922.0,27.635210,10.97.172.240,157.240.1.18,TCP,54.0,1492.301340

#### 6) What is the maximum length of a packet ?

In [7]:
# Determine the maximum length of packet
df['Length'].max()

1434.0

#### 7) What is the mean length of TCP packets ?

In [8]:
# Average length of TCP packets
df['Length'].mean()

769.1684183293988

#### 8) Repeat the exercise 6.2 with pandas

In [9]:
import os

os.chdir("..")
module_path = os.path.abspath(os.getcwd())
print(module_path)
 
# import module_path
from ImportClass import ClassPacket

# Pipeline for filtering TCP flow
PacketObj = ClassPacket('ws.csv')
packetDict = PacketObj.openFile()
packetFlow = PacketObj.printFlow(packetDict)
tcpFlow = PacketObj.sameFlow(packetFlow)
tcpByte = PacketObj.newDict(tcpFlow)
print(tcpByte)

# Convert to pandas Dataframe
tcpDF = pd.DataFrame([[keys[0], keys[1], keys[2], keys[3], values] for keys, values in tcpByte.items()]) \
        .rename(columns={0:'IP source', 1:'IP destination', 2:'TCP source', 3:'TCP destination', 4:'Byte length'})
print(tcpDF)

D:\UCL\4th Year\Software for Network and Services Design\Lab
{('10.97.172.240', '52.21.103.149', 54831, 443): 510, ('52.21.103.149', '10.97.172.240', 443, 54831): 1608, ('10.97.172.240', '162.125.18.133', 53359, 443): 162, ('10.97.172.240', '162.125.18.133', 54122, 443): 162, ('10.97.172.240', '162.125.18.133', 54834, 443): 132, ('10.97.172.240', '162.125.18.133', 54835, 443): 132, ('10.97.172.240', '162.125.18.133', 54836, 443): 348, ('10.97.172.240', '162.125.18.133', 54837, 443): 360, ('162.125.18.133', '10.97.172.240', 443, 53359): 54, ('162.125.18.133', '10.97.172.240', 443, 54122): 54, ('162.125.18.133', '10.97.172.240', 443, 54834): 66, ('162.125.18.133', '10.97.172.240', 443, 54835): 66, ('162.125.18.133', '10.97.172.240', 443, 54836): 1662, ('162.125.18.133', '10.97.172.240', 443, 54837): 2375, ('10.97.172.240', '216.58.206.142', 54777, 443): 108, ('216.58.206.142', '10.97.172.240', 443, 54777): 108, ('10.97.172.240', '216.58.206.129', 54838, 443): 2226, ('216.58.206.129', '10.97.172.240', 443, 54838): 586, ('10.97.172.240', '13.107.3.128', 54839, 443): 924, ('10.97.172.240', '52.232.69.150', 54840, 443): 1044, ('13.107.3.128', '10.97.172.240', 443, 54839): 13559, ('52.232.69.150', '10.97.172.240', 443, 54840): 19108, ('10.97.172.240', '17.248.144.240', 54819, 443): 108, ('17.248.144.240', '10.97.172.240', 443, 54819): 108, ('13.81.211.255', '10.97.172.240', 443, 54813): 54, ('10.97.172.240', '52.232.69.150', 54841, 443): 1296, ('52.232.69.150', '10.97.172.240', 443, 54841): 23936, ('10.97.172.240', '13.73.144.98', 52575, 443): 54, ('10.97.172.240', '13.94.211.113', 53454, 443): 161, ('13.94.211.113', '10.97.172.240', 443, 53454): 66, ('10.97.172.240', '52.109.28.2', 54753, 443): 141, ('52.109.28.2', '10.97.172.240', 443, 54753): 120, ('10.97.172.240', '66.228.33.150', 54447, 443): 54, ('66.228.33.150', '10.97.172.240', 443, 54447): 54, ('10.97.172.240', '17.252.11.246', 54842, 443): 186, ('17.252.11.246', '10.97.172.240', 443, 54842): 174, ('10.97.172.240', '216.58.206.142', 54843, 443): 1062, ('216.58.206.142', '10.97.172.240', 443, 54843): 2892, ('10.97.172.240', '169.55.74.45', 54360, 443): 54, ('10.97.172.240', '157.240.1.35', 54845, 443): 42446, ('157.240.1.35', '10.97.172.240', 443, 54845): 271590, ('10.97.172.240', '54.247.166.143', 52598, 80): 216, ('10.97.172.240', '54.247.166.143', 52591, 80): 772, ('10.97.172.240', '157.240.1.23', 54847, 443): 710, ('157.240.1.23', '10.97.172.240', 443, 54847): 1662, ('10.97.172.240', '157.240.1.23', 54849, 443): 67386, ('157.240.1.23', '10.97.172.240', 443, 54849): 1450859, ('162.125.32.135', '10.97.172.240', 443, 54822): 54, ('10.97.172.240', '162.125.32.135', 54822, 443): 108, ('10.97.172.240', '157.240.1.35', 54851, 443): 576, ('157.240.1.35', '10.97.172.240', 443, 54851): 2112, ('10.97.172.240', '157.240.1.23', 54853, 443): 723422, ('157.240.1.23', '10.97.172.240', 443, 54853): 12973972, ('10.97.172.240', '157.240.1.19', 54855, 443): 2994, ('157.240.1.19', '10.97.172.240', 443, 54855): 47766, ('10.97.172.240', '157.240.1.35', 54857, 443): 510, ('157.240.1.35', '10.97.172.240', 443, 54857): 1554, ('10.97.172.240', '157.240.1.35', 54859, 443): 522, ('157.240.1.35', '10.97.172.240', 443, 54859): 2288, ('54.247.166.143', '10.97.172.240', 80, 52591): 120, ('10.97.172.240', '157.240.1.23', 54861, 443): 564, ('157.240.1.23', '10.97.172.240', 443, 54861): 1554, ('10.97.172.240', '157.240.1.18', 54863, 443): 738, ('157.240.1.18', '10.97.172.240', 443, 54863): 2211, ('10.97.172.240', '157.240.1.35', 54864, 443): 576, ('157.240.1.35', '10.97.172.240', 443, 54864): 2059, ('10.97.172.240', '157.240.1.18', 54866, 443): 7654, ('157.240.1.18', '10.97.172.240', 443, 54866): 6567, ('10.97.172.240', '52.71.139.107', 52604, 443): 54, ('10.97.172.240', '68.232.34.200', 54814, 443): 54, ('68.232.34.200', '10.97.172.240', 443, 54814): 54, ('10.97.172.240', '216.58.206.142', 54369, 443): 1088, ('216.58.206.142', '10.97.172.240', 443, 54369): 54, ('216.58.206.142', '10.97.172.240', 443, 54371): 162, ('10.97.172.240', '216.58.206.142', 54371, 443): 162}
         IP source  IP destination  TCP source  TCP destination  Byte length
0    10.97.172.240   52.21.103.149       54831              443          510
1    52.21.103.149   10.97.172.240         443            54831         1608
2    10.97.172.240  162.125.18.133       53359              443          162
3    10.97.172.240  162.125.18.133       54122              443          162
4    10.97.172.240  162.125.18.133       54834              443          132
..             ...             ...         ...              ...          ...
70   68.232.34.200   10.97.172.240         443            54814           54
71   10.97.172.240  216.58.206.142       54369              443         1088
72  216.58.206.142   10.97.172.240         443            54369           54
73  216.58.206.142   10.97.172.240         443            54371          162
74   10.97.172.240  216.58.206.142       54371              443          162

[75 rows x 5 columns]