## Pandas Exercise
### Task: Use pandas to process and query the wireshark file you send in Chapter 6
#### 1) Load the Wireshark file that you used in Chapter 6 into a pandas DataFrame

In [19]:
import numpy as np 
import pandas as pd

# Load data from Wireshark
df = pd.read_csv("ws.csv")
df.index = df.index + 1
df.head()

,,Time,Source,Destination,Protocol,Length,Info
1,1,0.000000,10.97.172.240,52.21.103.149,TCP,78,54831 > 443 [SYN] Seq=0 Win=65535 Len=0 MSS=...
2,2,0.082079,52.21.103.149,10.97.172.240,TCP,66,"443 > 54831 [SYN, ACK] Seq=0 Ack=1 Win=26883..."
3,3,0.082252,10.97.172.240,52.21.103.149,TCP,54,54831 > 443 [ACK] Seq=1 Ack=1 Win=262144 Len=0
4,4,0.083455,10.97.172.240,52.21.103.149,TLSv1.2,309,Client Hello
5,5,0.164650,52.21.103.149,10.97.172.240,TCP,54,443 > 54831 [ACK] Seq=1 Ack=256 Win=28160 Len=0

In [20]:
# Print the keys from the dictionaries
print(df.keys())

Index([' ', 'Time', 'Source', 'Destination', 'Protocol', 'Length', 'Info'], dtype='object')

#### 2) How many packets (rows) are there in the DataFrame

In [21]:
# Print the number of packet
num_packet = df.shape[0]
print('Number of packets: ' + str(num_packet))

Number of packets: 30922

#### 3) How many fields (columns) are there in the DataFrame ?

In [22]:
# Print the field (dictionary keys) in the DataFrame
print(df.keys())
num_field = df.shape[1]
print(num_field)

Index([' ', 'Time', 'Source', 'Destination', 'Protocol', 'Length', 'Info'], dtype='object')
7

#### 4) Remove the last column

In [23]:
# Remove the last column from DataFrame
df.drop('Info', axis=1, inplace=True)
df

                   Time         Source    Destination Protocol  Length
1          1   0.000000  10.97.172.240  52.21.103.149      TCP      78
2          2   0.082079  52.21.103.149  10.97.172.240      TCP      66
3          3   0.082252  10.97.172.240  52.21.103.149      TCP      54
4          4   0.083455  10.97.172.240  52.21.103.149  TLSv1.2     309
5          5   0.164650  52.21.103.149  10.97.172.240      TCP      54
...      ...        ...            ...            ...      ...     ...
30918  30918  27.624493  10.97.172.240   157.240.1.18      TCP      54
30919  30919  27.632048  10.97.172.240   157.240.1.18  TLSv1.2     500
30920  30920  27.635130   157.240.1.18  10.97.172.240      TCP      54
30921  30921  27.635137   157.240.1.18  10.97.172.240  TLSv1.2      96
30922  30922  27.635210  10.97.172.240   157.240.1.18      TCP      54

[30922 rows x 6 columns]

#### 5) Insert a row/column

In [24]:
new_row = df.loc[num_packet]
df.loc[num_packet+1,:] = new_row
new_col = df.loc[:, 'Time']*df.loc[:, 'Length']
name_col = 'Test'
df.insert(df.shape[1], name_col, new_col)
df

,,Time,Source,Destination,Protocol,Length,Test
1,1.0,0.000000,10.97.172.240,52.21.103.149,TCP,78.0,0.000000
2,2.0,0.082079,52.21.103.149,10.97.172.240,TCP,66.0,5.417214
3,3.0,0.082252,10.97.172.240,52.21.103.149,TCP,54.0,4.441608
4,4.0,0.083455,10.97.172.240,52.21.103.149,TLSv1.2,309.0,25.787595
5,5.0,0.164650,52.21.103.149,10.97.172.240,TCP,54.0,8.891100
...,...,...,...,...,...,...,...
30919,30919.0,27.632048,10.97.172.240,157.240.1.18,TLSv1.2,500.0,13816.024000
30920,30920.0,27.635130,157.240.1.18,10.97.172.240,TCP,54.0,1492.297020
30921,30921.0,27.635137,157.240.1.18,10.97.172.240,TLSv1.2,96.0,2652.973152
30922,30922.0,27.635210,10.97.172.240,157.240.1.18,TCP,54.0,1492.301340
30923,30922.0,27.635210,10.97.172.240,157.240.1.18,TCP,54.0,1492.301340

#### 6) What is the maximum length of a packet ?

In [26]:
# Determine the maximum length of packet
df['Length'].max()

1434.0

#### 7) What is the mean length of TCP packets ?

In [28]:
# Average length of TCP packets
df['Length'].mean()

769.1684183293988

#### 8) Repeat the exercise 6.2 with pandas